@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Montserrat:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  /* Gradiente de fondo */
  --bg-gradient: linear-gradient(
    131deg,
    #76593a -3.63%,
    #c8a76e 55.5%,
    #76593a 107.94%
  );

  /* Color de fondo */
  --bg-content: #ffffff;

  /* Fondo del Contenedor */
  --bg-container: #000000;

  /* fondo del contador  */
  --bg-contador: #ffffff;

  /* Colores de texto */
  --text-primary: #000000;
  --text-secondary: #ffffff;
  --text-tertiary: #000000;

  /* fondo de cards */
  --bg-card-1: #1a1a1a;
  --bg-card-2: #000000;

  /* fondo de botones */
  --bg-botones: linear-gradient(
    131deg,
    #525252 -3.63%,
    #222222 55.5%,
    #000000 107.94%
  );

  --bg-footer: #161616;
}
